$primary: #1f2535;
$primary-border: #393f54;
$heading-white: #dcdfe8;
$desc-grey: #6b6f7c;
$secondary-grey: #2d3449;

$accent: #f55950;

.boxContainer{
    display: block;
    min-height: 150px;

    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    //remove these 
    background: $primary;
    border: 1px solid $primary-border;
    border-radius: 16px;

    padding: 16px;
    
    
    .infoSection, .buttonsSection{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .infoSection{
        .description{
            display: flex;
            flex-flow: column nowrap;
            padding-left: 24px;

            h3{
                font-size: 16px;
                margin-bottom: 4px;
            }

            p{
                font-size: 14px;
            }
        }
    }

    .buttonsSection{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        .removeBtn{
            background-color: $primary;
            border: 1px solid $primary-border;
            border-radius: 16px;
            padding: 8px 16px;

            &:hover{
                cursor: pointer;
                background-color: $primary-border;
            }

            &:focus-visible{
                outline: solid $accent;
            }    
        }
    }
}